.font-6 { font-size: 0.375rem !important; }
.font-8 { font-size: 0.500rem !important; }
.font-9 { font-size: 0.5625rem !important; }
.font-10 { font-size: 0.625rem !important; }
.font-11 { font-size: 0.7rem !important; }
.font-12 { font-size: 0.750rem !important; }
.font-14 { font-size: 0.875rem !important; }
.font-16 { font-size: 1rem; }
.font-18 { font-size: 1.125rem !important; }
.font-20 { font-size: 1.250rem !important; }
.font-21 { font-size: 1.313rem !important  }
.font-24 { font-size: 1.5rem ; }
.font-32 { font-size: 2rem ; }
.font-42{font-size: 2.688rem !important;}
.font-60{font-size: 3.75rem ;}
.text-green{color:#6fa822 }
.bg-green{background-color:#6fa822 }


html {
    scroll-behavior: smooth;
}

a{
    color:black;
    text-decoration: none;
    list-style: none;
}

p{
        white-space: pre-line;
}

/*navbar*/

.nav-link:hover{
    color:#6fa822 ;
  
}

.nav-link{
    cursor:  pointer;
}


.icon-btnhambugermenu{
    height: 20px;
    width: 20px;
}

.container-navbar{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 9px 16px -9px rgba(97,97,97,1);
    -moz-box-shadow: 0px 9px 16px -9px rgba(97,97,97,1);
    box-shadow: 0px 9px 16px -9px rgba(97,97,97,1);
}

.navbarProfolio{
    position: relative;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: black;
    font-weight: bold;
    overflow: hidden;
    height: 0px;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -o-transition: height 1s;
    transition:  height 1s;
    z-index: 100;
    
}


.contaiener-btn-hamb{
    position:absolute;
    top: 35px;
    right: 20px;
}


.btn-hambuger{
    background-color:#6fa822 ;
    border-radius: 8px;
    border:none;
    padding: 0.6;
    height: 40px;
    width: 50px;
}

.collapse-porfolio-navbar{
    height: 380px;
}


/*end navbar*/


/*other*/
 
.line2{
    width: 40px;
    height: 3px;
    background-color: #6fa822 ;

}
.line3{
    width: 80px;
    height: 3px;
    background-color: white;
}

.robo{
    width: 11px;
    height: 11px;
    background-color: black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

}

.trian{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: white transparent transparent transparent;
    margin-left: 50px;
}


.btn-top{
    padding: 5px 3px;
    background-color:#6fa822 ;
    border: 1px solid white;
    position: fixed;
    bottom: 0.625rem;
    right:  0.625rem;
    width: 50px;
    height: 55px;
    display: none;
    z-index: 100;
    cursor: pointer ;
    
}



.circule{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border:2px solid white;
    background-image: url("./assets/img/205e460b479e2e5b48aec07710c08d50.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}



.btn-common{
    height: 52px;
    width: 200px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
}
.btn-common:hover{
    background-color:#6fa822 !important;
    color: #ffffff !important ;
}

/*end  other*/

/*serivices */
.line-separate{
    height: 2px;
    width: 50px;
    background-color: #ffffff;
}

.icon-service{
    font-size: 44px;
    background: #fff;
    border: 1px solid #eee;
    width: 80px;
    height: 80px;
    text-align: center;
    float: left;
    margin-right: 15px;
}

.container-icon-service{
    line-height: 80px;
    margin-top: -46px;
}


.container-services{
    border: 1px solid #eee;
    min-width: 320px;

}

.container-services:hover .icon-service{
    background-color:#6fa822 ;
}


h3:hover{
    color: #6fa822 ;
}


.img-service-1 {
    content: url("./assets/img/recycle-sign.svg");

}

.container-services:hover .img-service-1{
    content: url("./assets/img/recycle-sign\ \(1\).svg");

}

.img-service-2 {
    content: url("./assets/img/garbage-truck.svg");

}

.container-services:hover .img-service-2{
    content: url("./assets/img/garbage-truck\ \(1\).svg");

}

.img-service-3 {
    content: url("./assets/img/recycle-bin.svg");

}

.container-services:hover .img-service-3{
    content: url("./assets/img/recycle-bin\ \(1\).svg");

}


/* end serivices */

/*last proyect*/

.hover-lastproyect{
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 38px;
    font-weight: bold;
    color:#6fa822;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#imageProtoflio:hover>.hover-lastproyect{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}


/* end last proyect*/



/*img background*/
.bg-img{
    background-image: url("./assets/img/banner6.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;

}

.bg-banner{
    background-image: url("./assets/img/banner2.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}


.bg-banner-1{
    background-image: url("./assets/img/recicladora.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.bg-banner-3{
    background-image: url("./assets/img/banner3.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    padding: 30px 0;
  
}


.bg-banner-4{
    background-image: url("./assets/img/Procesadores (1).jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    padding: 50px 0;
  
}

.bg-banner-5{
    background-image: url("./assets/img/Bronce_1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

  
}

/*end img background*/


/*expert*/
.container-socialnet{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 270px;
    margin-bottom: 0;
    text-align: center;
    background: #6fa822 ;
    padding: 15px 0px;
    transform: perspective(500px) rotateX(90deg);
    transition: all .5s;
    transform-origin: bottom;
    display: flex;
    justify-content: center;

}

#container-team:hover .container-socialnet{
    transform: perspective(500px) rotateX(00deg);
  
}

/*end expert*/


.mt-port{
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.small1{
    line-height: 0.7;
  }


.bg-gray-light{
    background: #ececec;
}

.carousel-caption{
    bottom: 7%;
    left: 5%;
}



/*hover icon social network and service */

.facebook-icon{

    content: url("./assets/img/facebook-app-symbol.svg");
  
}

.facebook-icon-container:hover .facebook-icon {
    content: url("./assets/img/facebook-app-symbol\ \(1\).svg");
    background-color: #4267B2;
}

.facebook-icon-container:hover{
    background-color: #4267B2;
}

.facebook-icon-container {
    height: 36px;
    width: 30px;
    background-color: white;
    border-radius: 2px;
    border:1px solid #4267B2;
    display: flex;
    align-items: center;
    justify-content: center;  
}



.twitter-icon{
    content: url("./assets/img/twitter.svg");
}


.twitter-icon-container:hover .twitter-icon{
    content: url("./assets/img/twitter\ \(1\).svg");
    background-color: #03A9F4;
}

.twitter-icon-container:hover{
    background-color:#03A9F4;
}

.twitter-icon-container{
    height: 36px;
    width: 30px;
    background-color: white;
    border-radius: 2px;
    border:1px solid #03A9F4;;
    display: flex;
    align-items: center;
    justify-content: center;
      
}
  

.youtube-icon{

    content: url("./assets/img/youtube\ \(1\).svg");

}

.youtube-icon-container:hover{
    background-color:  #FF0000;
}

.youtube-icon-container{
    height: 36px;
    width: 30px;
    background-color: white;
    border-radius: 2px;
    border:1px solid   #FF0000;
    display: flex;
    align-items: center;
    justify-content: center;
      
}


.linkedin-icon{
    content: url("./assets/img/linkedin.svg");
}


.linkedin-icon-container:hover .linkedin-icon {
    content: url("./assets/img/linkedin\ \(1\).svg");
    background-color: #0084B1;
}

.linkedin-icon-container:hover{
    background-color:#0084B1;
}

.linkedin-icon-container{
    height: 36px;
    width: 30px;
    background-color: white;
    border-radius: 2px;
    border:1px solid #0084B1;
    display: flex;
    align-items: center;
    justify-content: center;   
}



.img-tabs{

    width:100px;
}
  
/*end hover icon social network and service */


.carousel-indicators {
    z-index: 15;
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    padding:0 10px !important;
    margin: 0 !important;

     
}


.carousel-indicators li{
    box-sizing: content-box;
    height: 90px;
    padding:0 !important;
    margin: 0 !important;
    text-indent: 0;
    width: 100%;
     
}



.scroll-tabs-porfolio{
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: 475px; 
    max-width:989px;
    scroll-behavior: smooth;
}

.scroll-tabs-porfolio::-webkit-scrollbar {
    width: 10px;
  }
  



.rtabs-porfolio{
    box-sizing: content-box;
    padding: 0 ;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    /*border-top: 10px solid transparent;*/
    /*border-bottom: 10px solid transparent;*/
    /*opacity: .5;
    transition: opacity .6s ease;*/
    height: 90px;
    width: 360px;


}

 

.bg-o{
    background-image: url("./assets/noticias/BRONCE.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;


}



.bg-o1{
    background-image: url("./assets/noticias/Procesadores_1.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;

}



.position-buttonnext-prev{
    position: absolute;
    bottom: 0;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    z-index: 99;
 
}


@media ( min-width:990px) {
    .scroll-tabs-porfolio{
        overflow-x: hidden;
        overflow-y: scroll;
     
    }

  }



@media  ( max-width:1175px) and (min-width:992px) {
    .mt-port{
        margin-top: 13rem;
    }


  }



@media only screen and ( min-width:992px) {
    .navbarProfolio{
      height: 90px;
    }

  

  }


  @media only screen and ( max-width:650px) {
    .carousel-caption{
        bottom: 1%;
    }

  }


  @media only screen and ( max-width:800px) {
    .carousel-caption{
        bottom: 6%;
    }
  }





.line-container {
    width: 90%;
    height: 60px;
    text-align: start;
  }
  .single-line {
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line ;
    line-height: 15pt;        /* para la separacion entre lineas */ 
  }

  .single-line2 {
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line ;
    line-height: 10pt;        /* para la separacion entre lineas */ 
  }


.bg-black-light{
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 98;
    left: 0;
}